.project-card {
  background: white;
  border-radius: 8px;
  border: 1px solid #e9ecef;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 160px;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.project-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.project-icon {
  width: 90px;
  height: 90px;
  background-color: #69b5f8;
  border-radius: 16px;
  font-size: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-content {
  display: flex;
  justify-content: left;
}

.project-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 0 0 12px 0;
  font-family: "Inter", sans-serif;
}

.view-analysis-btn {
  background: none;
  border: none;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 0;
  transition: color 0.2s ease;
  font-family: "Inter", sans-serif;
}

.view-analysis-btn:hover {
  color: #0056b3;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 16px;
  color: #666;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;

  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.menu-btn:hover {
  background-color: #f8f9fa;
  color: #333;
}

.project-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
